<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Edit</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" th:src="@{'https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js" th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js'}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" th:href="@{'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css'}" rel="stylesheet" />
    <link href="../static/select2.css" th:href="@{/select2.css}" rel="stylesheet" />
    <!-- loader-->
    <link href="../static/assets/css/pace.min.css" th:href="@{/assets/css/pace.min.css}" rel="stylesheet"/>
    <script src="../static/assets/js/pace.min.js" th:src="@{/assets/js/pace.min.js}"></script>
    <!--favicon-->
    <link rel="icon" href="../static/assets/images/favicon.ico" th:href="@{/assets/images/favicon.ico}"
          type="image/x-icon">
    <!-- Bootstrap core CSS-->
    <link href="../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- animate CSS-->
    <link href="../static/assets/css/animate.css" th:href="@{/assets/css/animate.css}" rel="stylesheet"
          type="text/css"/>
    <!-- Icons CSS-->
    <link href="../static/assets/css/icons.css" th:href="@{/assets/css/icons.css}" rel="stylesheet" type="text/css"/>
    <!-- Custom Style-->
    <link href="../static/assets/css/app-style.css" th:href="@{/assets/css/app-style.css}" rel="stylesheet"/>

    <style>
        .select2-container--default .select2-selection--multiple {
            background-color: transparent !important;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            background-color: transparent !important;
        }

        .select2-results__option[aria-selected] {
            background: darkslategray;
        }

        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            background-color: lightblue;
        }

        .select2-container--default .select2-results__option[aria-selected=true] {
            background-color: royalblue;
        }
    </style>

</head>
<body class="bg-theme bg-theme3">

<!-- start loader -->
<div id="pageloader-overlay" class="visible incoming">
    <div class="loader-wrapper-outer">
        <div class="loader-wrapper-inner">
            <div class="loader"></div>
        </div>
    </div>
</div>
<!-- end loader -->

<!-- Start wrapper-->
<div id="wrapper">

    <div class="loader-wrapper">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="card card-authentication1 mx-auto my-5">
        <div class="card-body">
            <div class="card-content p-2">
                <div class="text-center">
                    <img src="../static/img/addonis-green-logo-sm.png" th:src="@{/img/addonis-green-logo-sm.png}"
                         alt="logo icon">
                </div>
                <div class="card-title text-uppercase text-center py-3" th:text="|Change ${originalAddon.getName()}|"></div>
                <form action="#" th:action="@{'/addons/' + ${originalAddon.getId()} + '/update'}" th:object="${addonDto}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="position-relative has-icon-right">
                            <input disabled type="text" id="exampleInputUsername" class="form-control input-shadow"
                                   th:placeholder="${originalAddon.getName()}">
                            <div class="form-control-position">
                                <i class="icon-user"></i>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="position-relative has-icon-right">
                            <input type="text" id="exampleInputPassword" class="form-control input-shadow"
                                   th:field="*{description}" th:placeholder="${originalAddon.getDescription()}">
                            <label class="error" th:errors="*{description}">Description Error</label>
                            <div class="form-control-position">
                                <i class="icon-lock"></i>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="position-relative has-icon-right">
                            <input disabled type="text"class="form-control input-shadow" th:placeholder="${originalAddon.getIde().getName()}"
                        </div>
                    </div>

                    <div style="margin-top: 16px" class="form-group">
                        <div class="position-relative has-icon-right">
                            <input disabled type="text" class="form-control input-shadow"
                                   th:placeholder="${originalAddon.getOrigin()}">
                            <div class="form-control-position">
                                <i class="icon-social-github"></i>
                            </div>
                        </div>
                    </div>

                    <div style="height: 38px" class="form-group">
                        <div class="position-relative has-icon-right">
                            <button type="button" style="text-align: left" onclick="document.getElementById('fileInput').click()" class="form-control input-shadow" id="exampleInputFile"
                                    th:text="#{addon.update.label.icon}"></button>
                            <input style="visibility: hidden" id="fileInput" type="file"
                                   th:field="*{icon}">
                            <div class="form-control-position">
                                <i class="icon-picture"></i>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <select id="multipleSelect" th:field="*{tagSet}" class="form-control select2 select2-hidden-accessible" multiple="" data-placeholder="Select a Tags" style="width: 100%; background-color: transparent !important;" tabindex="-1" aria-hidden="true">
                            <option th:each="tag : ${tags}"
                                    th:value="${tag.getId()}"
                                    th:text="${tag.getName()}">
                            </option>
                        </select>
                        <label class="error" th:errors="*{tagSet}">Tags Error</label>
                        <script>
                            $(document).ready(function() {
                                $('.select2').select2({
                                    closeOnSelect: false
                                });
                            });
                        </script>
                    </div>

                    <button type="sumbit" th:value="#{addon.update.label}" class="btn btn-warning btn-block">Update
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->

    <!--start color switcher-->
    <!--end color switcher-->

</div><!--wrapper-->

<!-- Bootstrap core JavaScript-->
<script src="../static/assets/js/jquery.min.js" th:src="@{/assets/js/jsquery.min.js}"></script>
<script src="../static/assets/js/popper.min.js" th:src="@{/assets/js/popper.min.js}"></script>
<script src="../static/assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
<script src="../static/js/jquery.nice-select.min.js" th:src="@{/js/jquery.nice-select.min.js}"></script>


<!-- sidebar-menu js -->
<script src="../static/assets/js/sidebar-menu.js" th:src="@{/assets/js/sidebar-menu.js}"></script>

<!-- Custom scripts -->
<script src="../static/assets/js/app-script.js" th:src="@{/assets/js/app-script.js}"></script>

</body>
</html>
