<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Addon Profile</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
          th:href="@{'https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap'}"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/elegant-icons.css" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/nice-select.css" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/slicknav.min.css" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css">

    <style>
        .rating_widgets {
            display: flex;
            margin-top: 25px;
        }

        .rating {
            border: none;
            float: left;
        }

        .rating > input {
            display: none;
        }

        .rating > label:before {
            margin: 5px;
            font-size: 24px;
            font-family: FontAwesome, serif;
            display: inline-block;
            content: "\f005";
        }

        .rating > .half:before {
            content: "\f089";
            position: absolute;
        }

        .rating > label {
            color: #ddd;
            float: right;
        }

        .rating > input:checked ~ label,
        .rating:not(:checked),
        .rating:not(:checked) {
            color: #FFD700;
        }

        .rating > input:checked,
        .rating > input:checked,
        .rating > input:checked ~ label,
        .rating > input:checked ~ label {
            color: #FFED85;
        }

        #gitHubLink, #options:hover {
            background-color: transparent;
            color: black;
        }

        #options::after {
            display: none;
            content: none;
        }





    </style>
</head>

<body>
<!-- Page Preloder -->

<!-- Humberger Begin -->
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a th:unless="${isAuthenticated}" href="#" th:href="@{/auth/login}"><i class="fa fa-lock"></i><span> Login</span> </a>
                        </div>
                        <div class="header__top__right__auth">
                            <a th:unless="${isAuthenticated}" href="#" th:href="@{/auth/register}"><i class="fa fa-user"></i> Register</a>
                        </div>
                        <div class="header__top__right__auth">
                            <a th:if="${isAuthenticated}" href="#" th:href="@{/auth/logout}"><i class="fa fa-user"></i>
                                Logout</a>
                        </div>
                        <!--            Profile Menu-->
                        <!--            End Profile Menu-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div style="padding-bottom: 30px" class="col-lg-3">
                <div class="header__logo">
                    <a href="#" th:href="@{/}"><img src="../static/img/addonis-green-logo.png"
                                                    th:src="@{/img/addonis-green-logo.png}" alt=""></a>
                </div>
            </div>
            <div style="left: 60px" class="col-lg-6">
                <nav style="padding-top: 40px" class="header__menu">
                    <ul>
                        <li><a href="#" th:href="@{/}">Home</a></li>
                        <li class="active"><a href="#" th:href="@{/addons}">Marketplace</a>
                            <ul class="header__menu__dropdown">
                                <li><a th:if="${isAuthenticated}" href="#" th:href="@{/addons/new}">Create add-on</a></li>
                            </ul>
                        </li>
                        <li th:if="*{isAuthenticated}"><a href="#" th:href="@{'/users/'+${userId}}">Profile</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Hero Section Begin -->
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="https://res.cloudinary.com/dbnpdkoj9/image/upload/v1639598001/marketplace-banner_bfxlw8.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2 style="color: #edcd2a !important" th:text="${addon.getName()}"></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item"
                             th:src="${addon.getIcon}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3 th:text="${addon.getName()}"></h3>
                    <div class="card-action">
                        <div class="dropdown">
                            <a id="options" href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" style="color: black" data-toggle="dropdown">
                                <i class="fa fa-bars"></i>
                            </a>
                            <div class="dropdown-menu">
                                <a th:if="${isActive and isAuthenticated}" class="dropdown-item" href="#" th:href="@{'/addons/' + ${addon.getId()} + '/update'}">Update </a>
                                <a th:if="${isAuthenticated}" class="dropdown-item" href="#" th:href="@{'/addons/' + ${addon.getId()} + '/delete'}">Delete </a>
                            </div>
                        </div>
                    </div>

                    <div class="product__details__rating">
                        <i th:if="${rating &lt; 1}"><i style="color: darkgray">★★★★★</i></i>
                        <i th:if="${rating &lt; 2 and rating &gt; 1}">★<i style="color: darkgray">★★★★</i></i>
                        <i th:if="${rating &lt; 3 and rating &gt; 2}">★★<i style="color: darkgray">★★★</i></i>
                        <i th:if="${rating &lt; 4 and rating &gt; 3}">★★★<i style="color: darkgray">★★</i></i>
                        <i th:if="${rating &lt; 6 and rating &gt; 4}">★★★★<i style="color: darkgray">★</i></i>
                        <i th:if="${rating} &gt; 5">★★★★★</i>
                        <span th:text="|(${numberOfReviews})|">(18 reviews)</span>
                    </div>
                    <p th:text="${addon.getDescription()}"></p>
                    <a href="#" th:href="@{'/addons/' + ${addon.getId()} + '/download'}"
                       class="primary-btn">Download</a>
                    <button style="padding: 11px 16px 11px !important" data-toggle="modal" data-target="#rate" class="heart-icon"><span style="color: goldenrod"
                            class="icon_star"></span>
                    </button>
                    <ul>
                        <h4>Project Details</h4>
                        <li><b>GitHub Link</i></b><a style="color: royalblue" th:target="_blank" id="gitHubLink" href="#"
                                                     th:href="${addon.getOrigin()}"
                                                     th:text="${addon.getName()}"></a></li>
                        <li><b>Pull Requests</b><span th:text="${addon.getPullRequests()}"></span></li>
                        <li><b>Open Issues</b><span th:text="${addon.getOpenIssues()}"></span></li>
                        <li><b>Last Commit</b><span
                                th:text="|${addon.getLastCommit().getDayOfMonth()} ${addon.getLastCommit().getMonth()} ${addon.getLastCommit().getYear()}|"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal fade" id="rate" tabindex="-1"
             role="dialog" aria-labelledby="addonRating" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button style="float: left; margin-left: 0px" type="button" class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <h4 style="padding-right: 160px" class="modal-title" id="addonRating"
                            th:text="| Rate ${addon.getName()}|"></h4>
                    </div>

                    <div style="padding-left: 140px" class="modal-body">
                        <div class="rating_widgets">
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"
                                    th:src="@{'https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'}"></script>
                            <script src="https://use.fontawesome.com/a2e210f715.js"
                                    th:src="@{'https://use.fontawesome.com/a2e210f715.js'}"></script>
                            <form method="post" action="#" th:method="post" th:object="${newRating}">
                                <div class="rating">
                                    <input th:field="*{value}" type="radio" id="star55" name="rating" th:value="5" >
                                    <label class="full" for="star55" title="Awesome - 5 stars"></label>
                                    <input th:field="*{value}" type="radio" id="star44" name="rating" th:value="4">
                                    <label class="full" for="star44" title="Pretty good - 4 stars"></label>
                                    <input th:field="*{value}" type="radio" id="star33" name="rating" th:value="3">
                                    <label class="full" for="star33" title="Good - 3 stars"></label>
                                    <input th:field="*{value}" type="radio" id="star22" name="rating" th:value="2">
                                    <label class="full" for="star22" title="ok - 2 stars"></label>
                                    <input th:field="*{value}" type="radio" id="star11" name="rating" th:value="1">
                                    <label class="full" th:for="star11" title="Very bad - 1 star"></label>
                                </div>
                                <div style="padding-right: 30px; padding-top: 30px">
                                    <button style="text-decoration: none; float: right" type="submit"
                                            class='btn btn-warning btn-xs launchConfirm'><span
                                            class="fa fa-star"> Rate</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="product__details__tab">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                           aria-selected="true">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                           aria-selected="false">Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                           aria-selected="false">Reviews <span th:text="|(${numberOfReviews})|">(1)</span></a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabs-1" role="tabpanel">
                        <div class="product__details__tab__desc">
                            <h6>Addon Description</h6>
                            <p th:text="${addon.getDescription()}"></p>
                            </br>
                            <h6>Tags</h6>
                            <div class="sidebar__item__size" th:each="tag : ${addon.getTagSet()}">
                                <label th:text="${tag.getName()}">
                                    <input type="text">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tabs-2" role="tabpanel">
                        <div class="product__details__tab__desc">
                            <h6>Creator</h6>
                            <p th:text="${addon.getCreator.getUsername()}"></p>
                            </br>
                            <h6>Upload Date: </h6>
                            <p th:text="|${addon.getUploadDate.getDayOfMonth()} ${addon.getUploadDate().getMonth()} ${addon.getUploadDate().getYear()} |"></p>
                            </br>
                            <h6>Downloads</h6>
                            <p th:text="${addon.getDownloads()}"></p>
                        </div>
                    </div>
                    <div class="tab-pane" id="tabs-3" role="tabpanel">
                        <div class="product__details__tab__desc">
                            <h6>Rating</h6>
                            <div class="rating_widgets">
                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"
                                        th:src="@{'https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'}"></script>
                                <script src="https://use.fontawesome.com/a2e210f715.js"
                                        th:src="@{'https://use.fontawesome.com/a2e210f715.js'}"></script>
                                <fieldset class="rating">
                                    <input disabled type="radio" id="star5" name="rating"/>
                                    <label class="full" for="star5" title="Awesome - 5 stars"></label>
                                    <input disabled type="radio" id="star4half" name="rating"
                                           value="4 and a half"/>
                                    <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                    <input disabled type="radio" id="star4" name="rating" value="4"/>
                                    <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                    <input disabled type="radio" id="star3half" name="rating"
                                           value="3 and a half"/>
                                    <label class="half" for="star3half" title="Good - 3.5 stars"></label>
                                    <input disabled type="radio" id="star3" name="rating" value="3"/>
                                    <label class="full" for="star3" title="Good - 3 stars"></label>
                                    <input disabled type="radio" id="star2half" name="rating"
                                           value="2 and a half"/>
                                    <label class="half" for="star2half" title="ok - 2.5 stars"></label>
                                    <input disabled type="radio" id="star2" name="rating" value="2"/>
                                    <label class="full" for="star2" title="ok - 2 stars"></label>
                                    <input disabled type="radio" id="star1half" name="rating"
                                           value="1 and a half"/>
                                    <label class="half" for="star1half" title="Bad - 1.5 stars"></label>
                                    <input disabled type="radio" id="star1" name="rating" value="1"/>
                                    <label class="full" for="star1" title="Very bad - 1 star"></label>
                                    <input disabled type="radio" id="starhalf" name="rating" value="half"/>
                                    <label class="half" for="starhalf" title="Very bad - 0.5 stars"></label>
                                </fieldset>
                            </div>
                            <!-- .rating_widget-->
                            <p class="figcaption"
                               th:text="|${rating} based on ${numberOfReviews} Users Reviews|"> Stars-Based on
                                1540 Users Reviews</p>

                            <script th:inline="javascript">
                                /*<![CDATA[*/

                                var starMap = {
                                    '0.5': 'half',
                                    '1': '1',
                                    '1.5': '1 and a half',
                                    '2': '2',
                                    '2.5': '2 and a half',
                                    '3': '3',
                                    '3.5': '3 and a half',
                                    '4': '4',
                                    '4.5': '4 and a half',
                                    '5': '5'
                                }

                                function roundToHalf(value) {
                                    return Math.round(value * 2) / 2;
                                }

                                function convertToString(value) {
                                    return Number(value).toString();
                                }

                                function setStarRating(value) {
                                    var fieldValue = starMap[convertToString(roundToHalf(value))];
                                    $("input[name=rating][value='" + fieldValue + "']").attr('checked', 'checked');
                                }

                                $(document).ready(function () {
                                    var value = [[${rating}]];
                                    setStarRating(value);

                                });

                                /*]]>*/
                            </script>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Product Details Section End -->

<!-- Related Product Section Begin -->

<!-- Related Product Section End -->

<!-- Footer Section Begin -->
<footer th:insert="fragments/navbar :: footer"></footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/jquery.nice-select.min.js" th:src="@{/js/jquery.nice-select.min.js}"></script>
<script src="../static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="../static/js/jquery.slicknav.js" th:src="@{/js/jquery.slicknav.js}"></script>
<script src="../static/js/mixitup.min.js" th:src="@{/js/mixitup.min.js}"></script>
<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        th:src="@{'https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        th:src="@{'https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'}"></script>



</body>

</html>