<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Addonis</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
          th:href="@{'https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap'}"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"
          type="text/css">
    <link rel="stylesheet" href="../static/css/elegant-icons.css" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/nice-select.css" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" th:href="@{/css/owl.carousel.min.css}"
          type="text/css">
    <link rel="stylesheet" href="../static/css/slicknav.min.css" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Hamburger Begin -->
<!--Removed-->
<!-- Hamburger End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a th:unless="${isAuthenticated}" href="#" th:href="@{/auth/login}"><i
                                    class="fa fa-lock"></i><span> Login</span> </a>
                        </div>
                        <div class="header__top__right__auth">
                            <a th:unless="${isAuthenticated}" href="#" th:href="@{/auth/register}"><i
                                    class="fa fa-user"></i> Register</a>
                        </div>
                        <div class="header__top__right__social">
                            <a th:if="${isAuthenticated}" href="#" th:href="@{/auth/logout}"><i class="fa fa-user"></i>
                                Logout</a>
                        </div>
                        <!--            Profile Menu-->
                        <!--            End Profile Menu-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div style="padding-bottom: 30px" class="col-lg-3">
                <div class="header__logo">
                    <a href="#" th:href="@{/}"><img src="../static/img/addonis-green-logo.png"
                                                    th:src="@{/img/addonis-green-logo.png}" alt=""></a>
                </div>
            </div>
            <div style="left: 60px" class="col-lg-8">
                <nav style="padding-top: 40px" class="header__menu">
                    <ul>
                        <li class="active"><a href="#" th:href="@{/}">Home</a></li>
                        <li><a href="#" th:href="@{/addons}">Marketplace</a>
                            <ul class="header__menu__dropdown">
                                <li><a th:if="${isAuthenticated}" href="#" th:href="@{/addons/new}">Create add-on</a>
                                </li>
                            </ul>
                        </li>
                        <li th:if="*{isAdmin}"><a href="#" th:href="@{/users}">Users</a></li>
                        <li th:if="*{isAuthenticated}"><a href="#" th:href="@{'/users/'+${userId}}">Profile</a>
                        </li>
                        <li th:if="*{isAdmin}"><a href="#" th:href="@{addons/pending}"
                                                  style="color: darkred">Pending</a>
                        </li>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>IDEs</span>
                    </div>
                    <ul th:each="ide : ${ides}">
                        <li><a href="#" th:text="${ide.getName()}">IntelliJ IDEA</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                All Categories
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="What do yo u need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                </div>
                <div class="hero__item set-bg" data-setbg="img/home-banner.jpeg">
                    <div style="padding-left: 300px" class="hero__text">
                        <span style="padding-left: 120px">Addonis Marketplace</span>
                        <h2 style="padding-left: 100px">One place for <br/>All extensions</h2>
                        <p style="padding-left: 70px">Discover, download and create your own add-ons</p>
                        <a href="#all" class="primary-btn">BROWSE NOW</a>
                        <a th:if="${isAuthenticated}" href="#" th:href="@{/addons/new}" class="primary-btn">CREATE
                            ADD-ON</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Categories Section Begin -->
<div style="text-align: center" class="section-title">
    <h2 style="text-align: center">Newest Addons</h2>
</div>
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3" th:each="addon : ${newestAddons}">
                    <div class="categories__item set-bg" th:attr="data-setbg=${addon.getIcon()}">
                        <h5 th:text="|${addon.getName()} Uploaded at: ${addon.getUploadDate()}|"><a href="#">Addon
                            Name</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</br>
</br>
<div style="text-align: center" class="section-title">
    <h2 style="text-align: center">Most Popular Addons</h2>
</div>
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3" th:each="addon : ${mostDownloadedAddons}">
                    <div class="categories__item set-bg" th:attr="data-setbg=${addon.getIcon()}">
                        <h5 th:text="|${addon.getName()} Downloads: ${addon.getDownloads()}| "><a href="#">Addon
                            Name</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</br>
</br>
<div style="text-align: center" class="section-title">
    <h2 style="text-align: center">Admins' Selection</h2>
</div>
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3" th:each="addon : ${adminSelection}">
                    <div class="categories__item set-bg" th:attr="data-setbg=${addon.getIcon()}">
                        <h5 th:text="${addon.getName()}"><a href="#">Addon Name</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Featured Section Begin -->
<section class="featured spad" id="all">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Available Extensions</h2>
                </div>
                <div class="featured__controls">
                    <!--          Fix to work dynamically-->
                    <ul>
                        <li data-filter="*">All</li>
                        <li data-filter=".android">Android Studio</li>
                        <li data-filter=".atom">Atom</li>
                        <li data-filter=".clion">CLion</li>
                        <li data-filter=".eclipse">Eclipse</li>
                        <li data-filter=".intellij">Intellij IDEA</li>
                        <li data-filter=".netbeans">NetBeans</li>
                        <li data-filter=".phpstorm">PHPStorm</li>
                        <li data-filter=".pycharm">PyCharm</li>
                        <li data-filter=".visual">Visual Studio</li>
                        <li data-filter=".code">Visual Studio Code</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            <div class="col-lg-3 col-md-4 col-sm-6 mix" th:each="addon : ${addons}"
                 th:classappend="${#strings.toLowerCase(addon.getIde().getName())}">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" th:attrappend="data-setbg=${addon.getIcon()}">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#" th:href="@{'/addons/' + ${addon.getId()}}"><i class="fa fa-retweet"></i></a>
                            </li>
                            <li><a href="#" th:href="@{'/addons/' + ${addon.getId()} + '/download'}"><i
                                    class="fa fa-download"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h5 th:text="${addon.getName()}"><a href="#"></a></h5>
                        <span th:text="|Created by ${addon.getCreator().getUsername()}|"></span>
                        </br>
                        <h6><i class="fa fa-download"></i><span th:text="| ${addon.getDownloads()}|"></span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured Section End -->


<!-- Latest Product Section Begin -->

<!-- Latest Product Section End -->

<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="index.html"><img src="../static/img/addonis-logo.png"
                                                  th:src="@{/img/addonis-green-logo-tr.png}"
                                                  alt=""></a>
                    </div>
                    <ul>
                        <li>Address: 60-49 Road 11378 New York</li>
                        <li>Phone: +65 11.188.888</li>
                        <li>Email: addonis@telerikacademy.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Join Our Newsletter Now</h6>
                    <p>Get E-mail updates about our latest shop and special offers.</p>
                    <form action="#">
                        <input type="text" placeholder="Enter your mail">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This template is made with <i class="fa fa-heart"
                                                                                aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/jquery.nice-select.min.js" th:src="@{/js/jquery.nice-select.min.js}"></script>
<script src="../static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="../static/js/jquery.slicknav.js" th:src="@{/js/jquery.slicknav.js}"></script>
<script src="../static/js/mixitup.min.js" th:src="@{/js/mixitup.min.js}"></script>
<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>


</body>

</html>