<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Login</title>
  <!-- loader-->
  <link href="../static/assets/css/pace.min.css" th:href="@{/assets/css/pace.min.css}" rel="stylesheet"/>
  <script src="../static/assets/js/pace.min.js" th:src="@{/assets/js/pace.min.js}"></script>
  <!--favicon-->
  <link rel="icon" href="../static/assets/images/favicon.ico" th:href="@{/assets/images/favicon.ico}" type="image/x-icon">
  <!-- Bootstrap core CSS-->
  <link href="../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet"/>
  <!-- animate CSS-->
  <link href="../static/assets/css/animate.css" th:href="@{/assets/css/animate.css}" rel="stylesheet" type="text/css"/>
  <!-- Icons CSS-->
  <link href="../static/assets/css/icons.css" th:href="@{/assets/css/icons.css}" rel="stylesheet" type="text/css"/>
  <!-- Custom Style-->
  <link href="../static/assets/css/app-style.css" th:href="@{/assets/css/app-style.css}" rel="stylesheet"/>
  
</head>

<body class="bg-theme bg-theme3">

<!-- start loader -->
   <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
   <!-- end loader -->

<!-- Start wrapper-->
 <div id="wrapper">

 <div class="loader-wrapper"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
	<div class="card card-authentication1 mx-auto my-5">
		<div class="card-body">
		 <div class="card-content p-2">
		 	<div class="text-center">
		 		<img src="../static/img/addonis-green-logo-sm.png" th:src="@{/img/addonis-green-logo-sm.png}" alt="logo icon">
		 	</div>
		  <div class="card-title text-uppercase text-center py-3">Sign In</div>
		    <form action="#" th:action="@{/auth/login}" th:object="${login}" method="post">
			  <div class="form-group">
			   <div class="position-relative has-icon-right">
				  <input type="text" id="exampleInputUsername" class="form-control input-shadow" th:field="*{username}" th:placeholder="#{login.label.username}" placeholder="Enter Username">
                   <label class="error" th:errors="*{username}">Username Error</label>
                   <div class="form-control-position">
					  <i class="icon-user"></i>
				  </div>
			   </div>
			  </div>
			  <div class="form-group">
			   <div class="position-relative has-icon-right">
				  <input type="password" id="exampleInputPassword" class="form-control input-shadow" th:field="*{password}" th:placeholder="#{login.label.password}" placeholder="Enter Password">
				  <label class="error" th:errors="*{password}">Password Error</label>
                   <div class="form-control-position">
					  <i class="icon-lock"></i>
				  </div>
			   </div>
			  </div>
			<div class="form-row">
			 <div class="form-group col-6">
			   <div class="icheck-material-white">
                <input type="checkbox" id="user-checkbox" checked="" />
                <label for="user-checkbox">Remember me</label>
			  </div>
			 </div>
			</div>
			 <button type="sumbit" th:value="#{login.label.sign-in}" class="btn btn-light btn-block">Sign In</button>
			 </form>
		   </div>
		  </div>
		  <div class="card-footer text-center py-3">
		    <p class="text-warning mb-0">Do not have an account? <a href="#" th:href="@{/auth/register}"> Sign Up here</a></p>
		  </div>
	     </div>
    
     <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
	
	<!--start color switcher-->
  <!--end color switcher-->
	
	</div><!--wrapper-->
	
  <!-- Bootstrap core JavaScript-->
  <script src="../static/assets/js/jquery.min.js" th:src="@{/assets/js/jsquery.min.js}"></script>
  <script src="../static/assets/js/popper.min.js" th:src="@{/assets/js/popper.min.js}"></script>
  <script src="../static/assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
	
  <!-- sidebar-menu js -->
  <script src="../static/assets/js/sidebar-menu.js" th:src="@{/assets/js/sidebar-menu.js}"></script>
  
  <!-- Custom scripts -->
  <script src="../static/assets/js/app-script.js" th:src="@{/assets/js/app-script.js}"></script>
  
</body>
</html>
