<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Addonis</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
          th:href="@{'https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap'}"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"
          type="text/css">
    <link rel="stylesheet" href="../static/css/elegant-icons.css" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/nice-select.css" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" th:href="@{/css/owl.carousel.min.css}"
          type="text/css">
    <link rel="stylesheet" href="../static/css/slicknav.min.css" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

        .cross {
            padding: 10px;
            color: #d6312d;
            cursor: pointer;
            font-size: 23px
        }

        .cross i {
            margin-top: -5px;
            cursor: pointer
        }

        .comment-box {
            padding: 5px
        }

        .comment-area textarea {
            resize: none;
            border: 1px solid #ff0000
        }

        .form-control:focus {
            color: #495057;
            background-color: #fff;
            border-color: #ffffff;
            outline: 0;
            box-shadow: 0 0 0 1px rgb(255, 0, 0) !important
        }

        .send {
            color: #fff;
            background-color: #ff0000;
            border-color: #ff0000
        }

        .send:hover {
            color: #fff;
            background-color: #f50202;
            border-color: #f50202
        }

        .rating {
            display: inline-flex;
            margin-top: -10px;
            flex-direction: row-reverse
        }

        .rating > input {
            display: none
        }

        .rating > label {
            position: relative;
            width: 28px;
            font-size: 35px;
            color: #ff0000;
            cursor: pointer
        }

        .rating > label::before {
            content: "\2605";
            position: absolute;
            opacity: 0
        }

        .rating > label:hover:before,
        .rating > label:hover ~ label:before {
            opacity: 1 !important
        }

        .rating > input:checked ~ label:before {
            opacity: 1
        }

        .rating:hover > input:checked ~ label:before {
            opacity: 0.4
        }
    </style>
</head>

<body>
<!-- Page Preloder -->

<!-- Humberger Begin -->
<!--  Section removed-->
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a th:unless="${isAuthenticated}" href="#" th:href="@{/auth/login}"><i class="fa fa-lock"></i><span> Login</span> </a>
                        </div>
                        <div class="header__top__right__auth">
                            <a th:unless="${isAuthenticated}" href="#" th:href="@{/auth/register}"><i class="fa fa-user"></i> Register</a>
                        </div>
                        <div class="header__top__right__social">
                            <a th:if="${isAuthenticated}" href="#" th:href="@{/auth/logout}"><i class="fa fa-user"></i> Logout</a>
                        </div>
                        <!--            Profile Menu-->
                        <!--            End Profile Menu-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div style="padding-bottom: 30px" class="col-lg-3">
                <div class="header__logo">
                    <a href="#" th:href="@{/}"><img src="../static/img/addonis-green-logo.png"
                                                    th:src="@{/img/addonis-green-logo.png}" alt=""></a>
                </div>
            </div>
            <div style="left: 60px" class="col-lg-8">
                <nav style="padding-top: 40px" class="header__menu">
                    <ul>
                        <li><a href="#" th:href="@{/}">Home</a></li>
                        <li class="active"><a href="#" th:href="@{/addons}">Marketplace</a>
                        <ul class="header__menu__dropdown">
                            <li><a th:if="${isAuthenticated}" href="#" th:href="@{/addons/new}">Create add-on</a></li>
                            </ul>
                        </li>
                        <li th:if="*{isAdmin}"><a href="#" th:href="@{/users}">Users</a></li>
                        <li th:if="*{isAuthenticated}"><a href="#" th:href="@{'/users/'+${userId}}">Profile</a></li>
                        <li th:if="*{isAdmin}"><a href="#" th:href="@{addons/pending}" style="color: darkred">Pending</a> </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div style="padding-left: 270px" class="row">
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#" th:action="@{/addons}" th:method="post" th:object="${addonFilterParams}">
                            <div class="hero__search__categories">
                                All Ides
                            </div>

                            <div class="dropdown-menu">
                                <select th:field="*{sort}">
                                    <option selected th:value="none">Default</option>
                                    <option class="filter__item"
                                            th:each="sortParam : ${sortParams}"
                                            th:value="${sortParam}"
                                            th:text="${sortParam}">
                                    </option>
                                </select>
                            </div>
                            <div class="hero__search">
                                <input class="form-control" type="text" placeholder="What do you need?" id="searchBox"
                                       th:field="*{name}">
                            </div>
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/marketplace-banner.jpeg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2 style="color: #edcd2a !important">Addonis Marketplace</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div style="text-align: left" class="featured__controls">
                        <h4 style="padding-bottom: 20px; font-weight: bold">IDEs</h4>
                        <ul>
                            <li style="display: block; padding-bottom: 3px" data-filter="*">All</li>
                            <li style="display: block; padding-bottom: 3px" data-filter=".android">Android Studio</li>
                            <li style="display: block; padding-bottom: 3px" data-filter=".atom">Atom</li>
                            <li style="display: block; padding-bottom: 3px" data-filter=".clion">CLion</li>
                            <li style="display: block; padding-bottom: 3px" data-filter=".eclipse">Eclipse</li>
                            <li style="display: block; padding-bottom: 3px" data-filter=".intellij">Intellij IDEA</li>
                            <li style="display: block; padding-bottom: 3px" data-filter=".netbeans">NetBeans</li>
                            <li style="display: block; padding-bottom: 3px" data-filter=".phpstorm">PHPStorm</li>
                            <li style="display: block; padding-bottom: 3px" data-filter=".pycharm">PyCharm</li>
                            <li style="display: block; padding-bottom: 3px" data-filter=".visual">Visual Studio</li>
                            <li style="display: block; padding-bottom: 3px" data-filter=".code">Visual Studio Code</li>
                        </ul>
                    </div>
                    <div class="sidebar__item sidebar__item__color--option">
                        <h4>Tags</h4>
                        <div class="sidebar__item__size" th:each="tag : ${tags}">
                            <label th:attr="data-filter='.' + ${#strings.toLowerCase(tag.getName())}"
                                   th:text="${tag.getName()}">
                                <input type="radio">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span class="dropdown">Sort By</span>
                                <form id="sortForm" action="#" th:action="@{/addons}" th:method="post"
                                      th:object="${addonFilterParams}">
                                    <select th:field="*{sort}" th:onchange="'submitForm()'">
                                        <option selected th:value="none">Default</option>
                                        <option class="filter__item"
                                                th:each="sortParam : ${sortParams}"
                                                th:value="${sortParam}"
                                                th:text="${sortParam}">
                                        </option>
                                        <script>
                                            function submitForm() {
                                                document.getElementById('sortForm').submit();
                                            }
                                        </script>
                                    </select>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span th:text="${addons.size()}"></span> Add-ons found</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row featured__filter" id="searchAddons">
                    <div class="col-lg-4 col-md-6 col-sm-6 mix" th:each="addon : ${addons}"
                         th:classappend="${#strings.toLowerCase(addon.getIde().getName())} + ' ' + ${#strings.toLowerCase(addon.getTagNames())}">
                        <div style="margin-bottom: 0px" class="featured__item">
                            <div class="featured__item__pic set-bg" th:attrappend="data-setbg=${addon.getIcon()}">
                                <ul class="featured__item__pic__hover">
                                    <li>
                                        <button data-toggle="modal"
                                                th:attr="data-target=${'#ratingModal' + addon.getId()}"><i
                                                class="fa fa-info-circle"></i></button>
                                    </li>
                                    <li><a href="#" style="text-decoration: none"
                                           th:href="@{'/addons/' + ${addon.getId()}}"><i class="fa fa-retweet"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-file-download"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div style="padding-bottom: 15px" class="featured__item__text">
                            <h6 th:text="${addon.getName()}"><a href="#">Addon Name</a></h6>
                            <h5 th:text="|Created by ${addon.getCreator().getUsername()}|">Creator</h5>
                        </div>
                        <div>
                        <div class="modal fade" th:attr="id=${'ratingModal' + addon.getId()}" tabindex="-1"
                             role="dialog"
                             th:aria-labelledby="'ratingModal' + ${addon.getId()}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" th:classappend="${addon.getId()}" role="document">
                                <div class="modal-content" th:classappend="${addon.getId()}">
                                    <div class="modal-header" th:classappend="${addon.getId()}">
                                        <button style="float: left; margin-left: 0px" type="button" class="close"
                                                data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>

                                        <h4 style="padding-right: 160px" class="modal-title" id="addonRating" th:text="${addon.getName()}"></h4>
                                    </div>
                                    <div class="card-body text-center" th:classappend="${addon.getId()}"><img th:src="${addon.getIcon()}"
                                                                            height="100" width="100">
                                        <div class="comment-box text center" th:classappend="${addon.getId()}">
                                            <div th:text="${addon.getDescription()}"></div>
                                            <div><span style="font-weight: bold">Number of downloads: </span><span th:text="${addon.getDownloads()}"></span></div>
                                            <div><span style="font-weight: bold">Upload date: </span><span th:text="${addon.getUploadDate()}"></span></div>
                                        </div>
<!--                                            <div class="comment-box text-center">-->
<!--                                                <div class="rating">-->
<!--                                                    <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>-->
<!--                                                    <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>-->
<!--                                                    <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>-->
<!--                                                    <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>-->
<!--                                                    <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>-->
<!--                                                </div>-->
                                                <div class="text-center mt-4" th:classappend="${addon.getId()}">
                                                  <button style="background-color: #0c675e" class="btn btn-success send px-3" type="button" th:onclick="|window.location.href='@{'/addons/' + ${addon.getId()}}'|">View Profile <i
                                                            class="fa fa-long-arrow-right ml-1"></i></button>
                                                    <button style="background-color: #0c675e" type="button" class="btn btn-success send px-3" onclick="history.back()"><span>Go back </span><i class="fa fa-undo"></i></button>
                                                </div>
<!--                                            </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
<script>
    function search() {
        $(document).ready(function () {
            $("#searchBox").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#searchAddons *").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    }
</script>
<!-- Footer Section Begin -->
<footer th:insert="fragments/navbar :: footer"></footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/jquery.nice-select.min.js" th:src="@{/js/jquery.nice-select.min.js}"></script>
<script src="../static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="../static/js/jquery.slicknav.js" th:src="@{/js/jquery.slicknav.js}"></script>
<script src="../static/js/mixitup.min.js" th:src="@{/js/mixitup.min.js}"></script>
<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        th:src="@{'https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        th:src="@{'https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'}"></script>


</body>

</html>