<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Addonis</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
          th:href="@{'https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap'}"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"
          type="text/css">
    <link rel="stylesheet" href="../static/css/elegant-icons.css" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/nice-select.css" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" th:href="@{/css/owl.carousel.min.css}"
          type="text/css">
    <link rel="stylesheet" href="../static/css/slicknav.min.css" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Hamburger Begin -->
<!--Removed-->
<!-- Hamburger End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#" th:href="@{/auth/logout}"><i class="fa fa-lock"></i><span> Logout</span> </a>
                        </div>

                        <!--            Profile Menu-->
                        <!--            End Profile Menu-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div style="padding-bottom: 30px" class="col-lg-3">
                <div class="header__logo">
                    <a href="#" th:href="@{/}"><img src="../static/img/addonis-green-logo.png"
                                                    th:src="@{/img/addonis-green-logo.png}" alt=""></a>
                </div>
            </div>
            <div style="left: 60px" class="col-lg-8">
                <nav style="padding-top: 40px" class="header__menu">
                    <ul>
                        <li><a href="#" th:href="@{/}">Home</a></li>
                        <li><a href="#" th:href="@{/addons}">Marketplace</a></li>
                        <li th:if="*{isAdmin}"><a href="#" th:href="@{/users}">Users</a></li>
                        <li th:if="*{isAuthenticated}"><a href="#" th:href="@{'/users/'+${userId}}">Profile</a></li>
                        <li  class="active" th:if="*{isAdmin}"><a href="#" th:href="@{/addons/pending}" style="color: darkred">Pending</a> </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>


   <div th:if="${addons.isEmpty()}">
       <h2 th:text="#{addons.pending.title.empty}"> No pending addons</h2>
   </div>
<div class="table-responsive" style="width: 70%; margin-left: 250px">
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Creator</th>
            <th>Tags</th>
        </tr>
        <tr th:each="addon:${addons}">
            <td th:text="${addon.getId()}">ID</td>
            <td><a href="#" th:href="@{/addons/pending/{id}(id=${addon.getId()})}" th:text="${addon.getName()}">Name</a></td>
            <td th:text="${addon.getCreator().getUsername()}">Creator</td>
            <td th:text="${addon.getTagSet()}">Tags</td>

        </tr>
    </table>
</div>
<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="index.html"><img src="../static/img/addonis-logo.png" th:src="@{/img/addonis-green-logo-tr.png}"
                                                  alt=""></a>
                    </div>
                    <ul>
                        <li>Address: 60-49 Road 11378 New York</li>
                        <li>Phone: +65 11.188.888</li>
                        <li>Email: addonis@telerikacademy.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Join Our Newsletter Now</h6>
                    <p>Get E-mail updates about our latest shop and special offers.</p>
                    <form action="#">
                        <input type="text" placeholder="Enter your mail">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This template is made with <i class="fa fa-heart"
                                                                                aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/jquery.nice-select.min.js" th:src="@{/js/jquery.nice-select.min.js}"></script>
<script src="../static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="../static/js/jquery.slicknav.js" th:src="@{/js/jquery.slicknav.js}"></script>
<script src="../static/js/mixitup.min.js" th:src="@{/js/mixitup.min.js}"></script>
<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>


</body>

</html>