<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Registration</title>
  <!-- loader-->
  <link href="../static/assets/css/pace.min.css" th:href="@{/assets/css/pace.min.css}" rel="stylesheet"/>
  <script src="../static/assets/js/pace.min.js" th:src="@{/assets/js/pace.min.js}"></script>
  <!--favicon-->
  <link rel="icon" href="../static/assets/images/favicon.ico" th:href="@{/assets/images/favicon.ico}" type="image/x-icon">
  <!-- Bootstrap core CSS-->
  <link href="../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet"/>
  <!-- animate CSS-->
  <link href="../static/assets/css/animate.css" th:href="@{/assets/css/animate.css}" rel="stylesheet" type="text/css"/>
  <!-- Icons CSS-->
  <link href="../static/assets/css/icons.css" th:href="@{/assets/css/icons.css}" rel="stylesheet" type="text/css"/>
  <!-- Custom Style-->
  <link href="../static/assets/css/app-style.css" th:href="@{/assets/css/app-style.css}" rel="stylesheet"/>
  
</head>

<body class="bg-theme bg-theme7">

<!-- start loader -->
   <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
   <!-- end loader -->

<!-- Start wrapper-->
 <div id="wrapper">

	<div class="card card-authentication1 mx-auto my-4">
		<div class="card-body">
		 <div class="card-content p-2">
		 	<div class="text-center">
		 		<img src="../static/img/addonis-green-logo-sm.png" th:src="@{/img/addonis-green-logo-sm.png}" alt="logo icon">
		 	</div>
		  <div class="card-title text-uppercase text-center py-3">Sign Up</div>
		    <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${register}" method="post">
			  <div class="form-group">
			  <label for="exampleInputUsername" class="sr-only">Username</label>
			   <div class="position-relative has-icon-right">
				  <input type="text" id="exampleInputUsername" class="form-control input-shadow" th:placeholder="#{registration.user.label.username}" th:field="*{username}">
				   <label class="error" th:errors="*{username}">Username Error</label>
				   <div class="form-control-position">
					  <i class="icon-user"></i>
				  </div>
			   </div>
			  </div>
			  <div class="form-group">
			  <label for="exampleInputEmail" class="sr-only">Email</label>
			   <div class="position-relative has-icon-right">
				  <input type="email" id="exampleInputEmail" class="form-control input-shadow" th:placeholder="#{registration.user.label.email}" th:field="*{email}">
				   <label class="error" th:errors="*{email}">Email Error</label>
				   <div class="form-control-position">
					  <i class="icon-envelope-open"></i>
				  </div>
			   </div>
			  </div>

			  <div class="form-group">
			   <label for="exampleInputPassword" class="sr-only">Password</label>
			   <div class="position-relative has-icon-right">
				  <input type="password" id="exampleInputPassword" class="form-control input-shadow" th:placeholder="#{registration.user.label.password}" th:field="*{password}">
				   <label class="error" th:errors="*{password}">Password Error</label>
				   <div class="form-control-position">
					  <i class="icon-lock"></i>
				  </div>
			   </div>
			  </div>

                <div class="form-group">
                    <label for="exampleInputPhoneNumber" class="sr-only">Phone Number</label>
                    <div class="position-relative has-icon-right">
                        <input type="password" id="exampleInputPhoneNumber" class="form-control input-shadow" th:placeholder="#{registration.user.label.phoneNumber}" th:field="*{phoneNumber}">
						<label class="error" th:errors="*{phoneNumber}">PhoneNumber Error</label>
						<div class="form-control-position">
                            <i class="icon-phone"></i>
                        </div>
                    </div>
                </div>

			 <button class="btn btn-light btn-block waves-effect waves-light" type="submit">Sign Up</button>
			
			 </form>
		   </div>
		  </div>
		  <div class="card-footer text-center py-3">
		    <p class="text-warning mb-0">Already have an account? <a href="#" th:href="@{/auth/login}" th:text="#{login.label.sign-in-here}"> Sign In here</a></p>
		  </div>
	     </div>
    
     <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
	
	<!--start color switcher-->
  <!--end color switcher-->
	
	</div><!--wrapper-->
	
  <!-- Bootstrap core JavaScript-->
  <script src="../static/assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
  <script src="../static/assets/js/popper.min.js" th:src="@{/assets/js/popper.min.js}"></script>
  <script src="../static/assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
	
  <!-- sidebar-menu js -->
  <script src="../static/assets/js/sidebar-menu.js" th:src="@{/assets/js/sidebar-menu.js}"></script>
  
  <!-- Custom scripts -->
  <script src="../static/assets/js/app-script.js" th:src="@{/assets/js/app-script.js}"></script>
  
</body>
</html>
