<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<ul>

    <li><h3><a href="#" th:href="@{/users}" th:text="#{navigation.all-users}">Browse all user</a></h3></li>
    <li th:unless="${isAuthenticated}"><h3><a th:href="@{/auth/login}" href="#">Login</a> </h3></li>
    <li th:unless="${isAuthenticated}"><h3><a th:href="@{/auth/register}" href="#">Register</a> </h3></li>
    <li th:if="${isAuthenticated}"><h3><a th:href="@{/auth/logout}" href="#">Logout</a> </h3></li>

</ul>
<h2>Edit User</h2>
<div class="input-group"> Edit User</div>
<hr>

<form class="justify-content-center" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${userDto}" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" name="email" placeholder="Email" th:field="*{email}">
        <label style="color: red" class="error" th:errors="*{email}"> Email error</label>
    </div>
    <div class="form-group">
        <label class="form-label">Phone Number</label>
        <input type="text" class="form-control" placeholder="Number" name="phoneNumber"
               th:field="*{phoneNumber}">
        <label style="color: red" class="error" th:errors="*{phoneNumber}">Phone number error</label>
    </div>
    <div class="form-group">
        <label class="form-label">Change image</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="file" th:field="*{photo}">
            <label class="custom-file-label">Choose file</label>
        </div>

    </div>

    <div class="item-card2-footer text-left">
        <button type="Submit" value="Save" class="btn btn-red">Update Profile
        </button>
    </div>
</form>
</body>
</html>