<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <form action="#" th:action="@{/users}" th:method="post" th:object="${searchUsersDto}">
        <div class="input-group-text">
            <span class="input-group-text">Search</span>
            <input th:field="*{username}"
                   type="text" class="form-control" th:placeholder="#{user.search.text}"
                   value="Username"  placeholder="Username">
        </div>
        <div class="input-group-text">
            <span class="input-group-text">Search</span>
            <input th:field="*{email}"
                   type="text" class="form-control" th:placeholder="#{user.search.email}"
                   value="Email"  placeholder="Email">
        </div>
        <div class="input-group-text">
            <input th:field="*{phoneNumber}" type="number" class="form-control"
            th:placeholder="#{user.search.phonenumber}" value="Phone Number"  placeholder="Phone Number">

        </div>
        <div class="col-2 float-left">
            <select class="form-select" aria-label="Default select example" th:field="*{orderBy}">
                <option selected th:value="none">Order by</option>
                <option th:each="orderBy :${orderParams}" th:text="${orderBy}"
                th:value="${orderBy}"> Order by</option>
            </select>
        </div>
        <div class="col-2 float-left">
            <select class="form-select" aria-label="Default select example" th:field="*{sort}">
                <option selected th:value="ascending">Sort by</option>
                <option th:each="sortParam :${sortParams}" th:text="${sortParam.toString()}"
                        th:value="${sortParam.toString()}">Sort parameter
                </option>
            </select>
        </div>
        <div>
            <button type="submit"  class="btn-success float-left col-2"> Search</button>
        </div>
    </form>

    <div th:if="${users.isEmpty()}">
        <h2 th:text="#{users.title.empty}">No Users</h2>
    </div>
    <table style="align-content: center">
        <tr>
            <th>
                ID
            </th>
            <th> Email</th>
            <th> Active</th>

        </tr>
        <tr th:each="user: ${users}">
            <td th:text="${user.getId()}">ID</td>

            <td><a href="#" th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getEmail()}">
                Email</a></td>
            <td th:text="${user.isActiveStatus()}">Blocked</td>
        </tr>
    </table>
</body>
</html>