<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|User ${user.getId()}|">User Profile</title>
</head>
<body>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
    <li><h3><a th:if="${isAdmin}" href="#" th:href="@{/users}" th:text="#{navigation.all-users}">Browse all users</a></h3></li>
</ul>

<h2 th:text="|#{user.label.id}: ${user.getId()}|">Id</h2>
<h3 th:text="|#{user.label.username}: ${user.getUsername()}|">Username</h3>
<h3 th:text="|#{user.label.email}: ${user.getEmail()}|">Email</h3>
<h3 th:text="|#{user.label.phonenumber}: ${user.getPhoneNumber()}|">Phone Number</h3>
<img th:src="@{${user.getPhoto()}}" alt="">
<h3 th:text="|#{user.label.role}: ${user.getRole()}|">Role</h3>
<h3 th:text="|#{user.label.addons}: ${user.getAddons()}|">Addons</h3>

<h3>
    <a th:if="${isAuthenticated}" href="#" th:href="@{__${#httpServletRequest.requestURI}__/changePassword}">Change Password</a>
    <a th:if="${isAuthenticated}" href="#" th:href="@{__${#httpServletRequest.requestURI}__/update}">Edit details</a>
    <a th:if="${isAuthenticated}" href="#" th:href="@{__${#httpServletRequest.requestURI}__/delete}">Delete</a>

</h3>
</body>
</html>