<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<ul>

    <li><h3><a href="#" th:href="@{/users}" th:text="#{navigation.all-users}">Browse all user</a></h3></li>
    <li th:unless="${isAuthenticated}"><h3><a th:href="@{/auth/login}" href="#">Login</a> </h3></li>
    <li th:unless="${isAuthenticated}"><h3><a th:href="@{/auth/register}" href="#">Register</a> </h3></li>
    <li th:if="${isAuthenticated}"><h3><a th:href="@{/auth/logout}" href="#">Logout</a> </h3></li>

</ul>
<h2>Edit User</h2>
<div class="input-group"> Edit User</div>
<hr>
<form class="block" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${user}" method="post">

    <div>
        <label for="username" th:text="#{user.label.username}">Username</label>
        <input type="text" id="username" th:value="${user.username}" readonly>
    </div>

    <div>
        <label for="email" th:text="#{user.label.email}">Email</label>
        <input type="email" id="email"  th:value="${user.email}" readonly>
    </div>
    <br/>
    <div class="form-group">

        <label for="status" th:text="#{user.label.status}">Status</label>
        <input type="radio" id="status" th:value="true" th:field="*{activeStatus}" name="Active" th:text="Active" checked >
        <input type="radio" id="status2" th:value="false" th:field="*{activeStatus}" name="Blocked" th:text="Blocked" >
        <label style="color: red" th:errors="*{activeStatus}">Status set error</label>
    </div>
    <br/>
    <div>
        <label for="role" th:text="#{user.label.role}">Role</label>
        <input type="text" id="role" th:value="${user.getRole()}" readonly>

    </div>
    <div class="form-group">
        <button style="float: left" type="submit" class="btn btn-warning btn-round px-6"><i class="fa fa-save"></i>  Save Changes</button>
        <a style="text-decoration: none; float: right" class="btn btn-info btn-round px-6" href="#" role="button" onclick="history.go(-1)"><i class="fa fa-undo"></i>  Back to Profile</a>
    </div>
</form>

</body>
</html>